<div class="body-show">
  <div class = "top">
    <div class="container">
      <div class=" row powder-show">
        <div class="powder-name my-5">
           <h3><%= @powder.powder_name %></h3>
        </div>
        <div class="col-4" style=" margin-left: 40px; margin-top: -10px;">
         <div>
           <%= image_tag (@powder.powder_image_id.url), size: '400x400'%>
         </div>
        </div>
        <div class="powder col-4" style=" margin-left: 200px; margin-top: 40px;">
          <p><span class="under">材料</p>
          <p><%= simple_format @powder.powder_tool %></p>
        </div>
        <div class="powder-word container" style="margin-left: 80px; margin-top: -60px;">
          <div class="row" style="padding-bottom:20px; padding-top:100px;">
          <div class="col-1">
              <%= link_to user_path(@powder.user), class: "panel-block" do %>
              <%= image_tag (@powder.user.user_image_id.url), style: "border-radius: 80%; width: 80px; height: 80px; object-fit:cover;" %>
              <% end %>
            </div>
            <div class="col-1" style="position:relative; height: 8vh; width:10vh; padding-left:45px;">
              <%= link_to user_path(@powder.user), class: "panel-block" do %>
                <p  style="position: absolute; bottom: 10px;" ><%= @powder.user.username%></p>
              <% end %>
            </div>
          </div>
        </div>
        <div style="padding-left:100px; padding-top:10px;">
          <p><%= simple_format @powder.powder_word %></p>
        </div>
        <div class="powder-instructions" style=" margin-left: 80px; margin-bottom: 40px;">
          <p class="under"style="padding-bottom:10px; padding-top:30px;">作り方</p>
          <p><%= simple_format @powder.powder_instructions %></p>
        </div>
        <div style="margin-left:700px; margin-bottom:40px; margin-top:40px;">
          <% if user_signed_in? && @powder.user_id == current_user.id %>
            <p><%= link_to "編集する", edit_powder_path %></p>
            <p><%= link_to "削除する", powder_path, method: :delete %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
